*~
\#*
.\#*
*.[oad]
*.so
*.swp
*.swo
.svn
.hg
.hgignore
tags
TAGS
dump
dump.*
!dump.h
!dump.cc
!dump.cpp
*.log
*.gz
*.out
cscope.files
/cmake
/testbin
/bin
!/testbin/r_IndexStats.config
help
*.save
*.orig
.project
.cproject
/env.yml
/cmake.yml
/build
/pkg
/lib
/include/izenelib-version.h
/nbproject
*.diff
*.patch
