*~
\#*
.\#*
*.[oad]
*.so
*.swp
*.swo
tags
dump
dump.*
*.log
*.gz
/cmake
/testbin/*
!/testbin/r_IndexStats.config
help
*.save
*.orig
.project
.cproject
/env.yml
/cmake.yml
/build
/pkg
/include/izenelib-version.h
