*~
\#*
.\#*
*.[oad]
*.so
*.swp
*.swo
.svn
tags
dump
dump.*
!dump.h
!dump.cc
!dump.cpp
*.log
*.gz
*.out
cscope.files
/cmake
/testbin/*
!/testbin/r_IndexStats.config
help
*.save
*.orig
.project
.cproject
/env.yml
/cmake.yml
/build
/pkg
/include/izenelib-version.h
/nbproject
