# collection name
collection-name = read

# directory path of index files /bin/collection/read/collection-data/default-collection-dir/index
index-path = ../../sf1r-engine/bin/collection/read/collection-data/default-collection-dir/index
collection-name = testcoll

# directory path of index files /bin/collection/read/collection-data/default-collection-dir/index
index-path = ./index

# directory path of term id files,
# comment out below line if files "_tid_id.sdb.*" in this directory path not exist,
# then term string would not be printed in term statistics file
#id-path = ./id

# the property names whose "doclen" is "yes"
doclen-properties = content

# the property names for statistics output
stats-properties = content
