# collection name
collection-name = ChnWiki

# directory path of index files
index-path = ../../sf1-revolution/bin/collection/chinese-wiki/collection-data/default-collection-dir/index

# the property names whose "doclen" is "yes"
doclen-properties = Title Content

# the property names for statistics output
stats-properties = Title Content
