# collection name
collection-name = ChnWiki

# directory path of index files
index-path = ../../sf1-revolution/bin/collection/chinese-wiki/collection-data/default-collection-dir/index

# directory path of term id files,
# comment out below line if files "_tid_id.sdb.*" in this directory path not exist,
# then term string would not be printed in term statistics file
#id-path = ../../sf1-revolution/bin/collection/chinese-wiki/collection-data/default-collection-dir/id/

# the property names whose "doclen" is "yes"
doclen-properties = Title Content

# the property names for statistics output
stats-properties = Title Content
